@font-face {
    font-family: 'one';
    src: url('/typefaces/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'two';
    src: url('/typefaces/Anton-Regular.ttf');
}

@font-face {
    font-family: 'three';
    src: url('/typefaces/Damion-Regular.ttf');
}

@font-face {
    font-family: 'four';
    src: url('/typefaces/LilitaOne-Regular.ttf');
}
