footer{
    background-color: #0c0c0c;
}

.footer-logo{
    width: 15vw;
}

.socials, .socials:hover{
    width: 8vw;
    color: white;
}

@media screen and (min-width: 650px) {
    .socials{
        height:50%;
    }

    .footer-logo{
        width: 50%;
    }
  }

  @media screen and (min-width: 1200px) {
    .socials{
        height:40%;
    }

    .footer-logo{
        width: 30%;
    }
  }








