.nav-logo{
    width: 15%;
}

.cta-nav{
    border-radius: 10px;
}

.cta-width{
    width: 20%;
}

@media screen and (min-width: 650px) {
    .nav-logo{
        width:10%;
    }
  }

  @media screen and (min-width: 1000px) {
    .nav-logo{
        width:5%;
    }
  }

  @media screen and (min-width: 1400px) {
    .nav-logo{
        width:3%;
    }
  }


  
